# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
build
.next
out
.turbo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.pem
coverage
.vercel

# Prettier ignore
node_modules
.next
build
dist
pnpm-lock.yaml
package-lock.json
yarn.lock

# Astro specific
.astro