<footer class="p-4 bg-white/10">
  <div class="mx-auto container flex items-center justify-between">
    <div>
      <p class="text-sm">
        &copy; Don't Show distributed under the MIT License by Valerio Clemenzi and contributors
      </p>
    </div>
    <div class="text-sm space-x-4 items-center hidden md:flex">
      <a href="https://github.com/clemenzi/dontshow" class="hover:underline"> Github </a>
      <a href="https://github.com/sponsors/clemenzi" class="hover:underline">
        Support the project
      </a>
    </div>
  </div>
</footer>
